.Color {
  width: 300px;
  height: 230px;
  background-color: #fbfbfb;
  border-style: solid;
  border-width: 2px;
  border-color: #f1f1f1;
  margin-top: 40px;
  margin-left: 30px;
  position: absolute;
  border-radius: 5px;
}

.colorBox {
  height: 100px;
  width: 100px;
  background-color: #b1b1b1;
  border-radius: 4px;
  margin: 10px 0 5px 20px;
}

input, button, h1 {
  margin: 20px;
}
