.widgetsGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(315px,1fr));
  grid-auto-rows: 1px;
  margin: auto;
}

.widgetsGrid:nth-child(4n+1) {
  margin-left: 20px;
}

.widgetsGrid:nth-child(4n) {
  margin-right: 20px;
}

.widget {
  margin-right: 20px;
}

.wrapper {
  /* width: 100%;
  text-align: center; */
}

.widgetsGrid {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  margin-left: 20px;
}
